include LICENSE
include README.md
include README.rst
include ANYstructure_local\images\fls_button.gif
include ANYstructure_local\images\img_axial_stresses.gif
include ANYstructure_local\images\img_ext_pressure_button.gif
include ANYstructure_local\images\img_ext_pressure_button_def.gif
include ANYstructure_local\images\img_fixation_parameters.gif
include ANYstructure_local\images\img_generate_report.gif
include ANYstructure_local\images\img_int_pressure_button.gif
include ANYstructure_local\images\img_int_pressure_button_search.gif
include ANYstructure_local\images\img_multi_opt.gif
include ANYstructure_local\images\img_optimize.gif
include ANYstructure_local\images\img_plate_and_stiffener.gif
include ANYstructure_local\images\img_stf_button.gif
include ANYstructure_local\images\img_stiffener.gif
include ANYstructure_local\images\img_stress_button.gif
include ANYstructure_local\images\img_T_L_FB.gif
include ANYstructure_local\images\img_title.gif
include ANYstructure_local\images\img_transverse_stress.gif
include ANYstructure_local\images\ANYstructure_logo.jpg
include ANYstructure_local\images\current_comps_NONE.png
include ANYstructure_local\ship_section_example.txt
include ANYstructure_local\ANYstructure_documentation.pdf
include ANYstructure_local\sections.csv
include ANYstructure_local\bulb_anglebar_tbar_flatbar.csv
include ANYstructure_local\CL_[output_cl_buc]_predictor_In-plane_support_cl_1_SP.pickle
include ANYstructure_local\CL_[output_cl_buc]_scaler_In-plane_support_cl_1_SP.pickle
include ANYstructure_local\CL_[output_cl_ult]_predictor_In-plane_support_cl_1_SP.pickle
include ANYstructure_local\CL_[output_cl_ult]_scaler_In-plane_support_cl_1_SP.pickle
include ANYstructure_local\CL_[output_cl_buc]_predictor_In-plane_support_cl_[2,_3]_SP.pickle
include ANYstructure_local\CL_[output_cl_buc]_scaler_In-plane_support_cl_[2,_3]_SP.pickle
include ANYstructure_local\CL_[output_cl_ult]_predictor_In-plane_support_cl_[2,_3]_SP.pickle
include ANYstructure_local\CL_[output_cl_ult]_scaler_In-plane_support_cl_[2,_3]_SP.pickle
include ANYstructure_local\CL_[output_cl_buc]_predictor_In-plane_support_cl_1_UP.pickle
include ANYstructure_local\CL_[output_cl_buc]_scaler_In-plane_support_cl_1_UP.pickle
include ANYstructure_local\CL_[output_cl_ult]_predictor_In-plane_support_cl_1_UP.pickle
include ANYstructure_local\CL_[output_cl_ult]_scaler_In-plane_support_cl_1_UP.pickle
include ANYstructure_local\CL_[output_cl_buc]_predictor_In-plane_support_cl_[2,_3]_UP.pickle
include ANYstructure_local\CL_[output_cl_buc]_scaler_In-plane_support_cl_[2,_3]_UP.pickle
include ANYstructure_local\CL_[output_cl_ult]_predictor_In-plane_support_cl_[2,_3]_UP.pickle
include ANYstructure_local\CL_[output_cl_ult]_scaler_In-plane_support_cl_[2,_3]_UP.pickle
include ANYstructure_local\CL_[CSR-Tank_req_cl]_predictor.pickle
include ANYstructure_local\CL_[CSR-Tank_req_cl]_UP_scaler.pickle
include ANYstructure_local\CL_[CSR_plate_cl,_CSR_web_cl,_CSR_web_flange_cl,_CSR_flange_cl]_predictor.pickle
include ANYstructure_local\CL_[CSR_plate_cl,_CSR_web_cl,_CSR_web_flange_cl,_CSR_flange_cl]_SP_scaler.pickle
