include LICENSE
include README.md
include README.rst
include ANYstructure_local\images\fls_button.gif
include ANYstructure_local\images\img_axial_stresses.gif
include ANYstructure_local\images\img_ext_pressure_button.gif
include ANYstructure_local\images\img_ext_pressure_button_def.gif
include ANYstructure_local\images\img_fixation_parameters.gif
include ANYstructure_local\images\img_generate_report.gif
include ANYstructure_local\images\img_int_pressure_button.gif
include ANYstructure_local\images\img_int_pressure_button_search.gif
include ANYstructure_local\images\img_multi_opt.gif
include ANYstructure_local\images\img_optimize.gif
include ANYstructure_local\images\img_plate_and_stiffener.gif
include ANYstructure_local\images\img_stf_button.gif
include ANYstructure_local\images\img_stiffener.gif
include ANYstructure_local\images\img_stress_button.gif
include ANYstructure_local\images\img_T_L_FB.gif
include ANYstructure_local\images\img_title.gif
include ANYstructure_local\images\img_transverse_stress.gif
include ANYstructure_local\images\ANYstructure_logo.jpg
include ANYstructure_local\images\current_comps_NONE.png
include ANYstructure_local\ship_section_example.txt
include ANYstructure_local\ANYstructure_documentation.pdf
include ANYstructure_local\sections.csv
include ANYstructure_local\bulb_anglebar_tbar_flatbar.csv
include CL ['output cl buc'] predictor In-plane support cl 1 SP.pickle
include CL ['output cl buc'] scaler In-plane support cl 1 SP.pickle
include CL ['output cl ult'] predictor In-plane support cl 1 SP.pickle
include CL ['output cl ult'] scaler In-plane support cl 1 SP.pickle
include CL ['output cl buc'] predictor In-plane support cl [2, 3] SP.pickle
include CL ['output cl buc'] scaler In-plane support cl [2, 3] SP.pickle
include CL ['output cl ult'] predictor In-plane support cl [2, 3] SP.pickle
include CL ['output cl ult'] scaler In-plane support cl [2, 3] SP.pickle
include CL ['output cl buc'] predictor In-plane support cl 1 UP.pickle
include CL ['output cl buc'] scaler In-plane support cl 1 UP.pickle
include CL ['output cl ult'] predictor In-plane support cl 1 UP.pickle
include CL ['output cl ult'] scaler In-plane support cl 1 UP.pickle
include CL ['output cl buc'] predictor In-plane support cl [2, 3] UP.pickle
include CL ['output cl buc'] scaler In-plane support cl [2, 3] UP.pickle
include CL ['output cl ult'] predictor In-plane support cl [2, 3] UP.pickle
include CL ['output cl ult'] scaler In-plane support cl [2, 3] UP.pickle
include CL ['CSR-Tank req cl'] predictor.pickle
include CL ['CSR-Tank req cl'] UP scaler.pickle
include CL ['CSR plate cl', 'CSR web cl', 'CSR web flange cl', 'CSR flange cl'] predictor.pickle
include CL ['CSR plate cl', 'CSR web cl', 'CSR web flange cl', 'CSR flange cl'] SP scaler.pickle
