include LICENSE
include README.md
include README.rst
include ANYstructure\images\fls_button.gif
include ANYstructure\images\img_axial_stresses.gif
include ANYstructure\images\img_ext_pressure_button.gif
include ANYstructure\images\img_ext_pressure_button_def.gif
include ANYstructure\images\img_fixation_parameters.gif
include ANYstructure\images\img_generate_report.gif
include ANYstructure\images\img_int_pressure_button.gif
include ANYstructure\images\img_int_pressure_button_search.gif
include ANYstructure\images\img_multi_opt.gif
include ANYstructure\images\img_optimize.gif
include ANYstructure\images\img_plate_and_stiffener.gif
include ANYstructure\images\img_stf_button.gif
include ANYstructure\images\img_stiffener.gif
include ANYstructure\images\img_stress_button.gif
include ANYstructure\images\img_T_L_FB.gif
include ANYstructure\images\img_title.gif
include ANYstructure\images\img_transverse_stress.gif
include ANYstructure\images\ANYstructure_logo.jpg
include ANYstructure\images\current_comps_NONE.png
include ANYstructure\ship_section_example.txt
include ANYstructure\ANYstructure_documentation.pdf