ANY3dView[gpu]>=0.5,<0.6
ANYtk3D>=0.5,<0.6
ANYbuckling>=0.1,<0.2
ANYfileio[semantics]>=0.2,<0.3
ANYgeometry>=0.2.2,<0.3
ANYmaterial>=0.1,<0.2
ANYmesher>=0.2.3,<0.3
ANYsolver>=0.3,<0.4
matplotlib
meshio
numpy
numpy-stl
Pillow
reportlab
scikit-learn
scipy
xlwings
