ANY3dView[gpu]>=0.5.1
ANYtk3D>=0.5.1
ANYbuckling>=0.1.1
ANYfileio[semantics]>=0.2.1
ANYgeometry>=0.2.4
ANYmaterial>=0.1.1
ANYmesher>=0.2.5
ANYsolver>=0.3
matplotlib
meshio
numpy
numpy-stl
Pillow
reportlab
scipy
