ANY3dView[gpu]>=0.5.4,<0.6
ANYtk3D>=0.5.3,<0.6
ANYbuckling>=0.1.1,<0.2
ANYfileio[semantics]>=0.2.1,<0.3
ANYgeometry>=0.4.1,<0.5
ANYmaterial>=0.1.1,<0.2
ANYmesher>=0.3.2,<0.4
ANYsolver>=0.4.0,<0.5
matplotlib
meshio
numpy
numpy-stl
Pillow
reportlab
scikit-learn
scipy
xlwings
